<!DOCTYPE html>
<html>

<head>
    <title>Gradebook</title>
</head>

<body>

    <h2>Gradebook</h2>

    <table border="1" cellpadding="10">
        <tr>
            <th>Student</th>
            <th>Email</th>
            <th>Course</th>
            <th>Code</th>
            <th>Grade</th>
        </tr>

        {% for g in gradebook %}
        <tr>
            <td>{{ g.student_name }}</td>
            <td>{{ g.student_email }}</td>
            <td>{{ g.course_name }}</td>
            <td>{{ g.course_code }}</td>
            <td>{% if g.grade %}{{ g.grade }}{% else %}<em>Not Assigned</em>{% endif %}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>