{% extends "base.html" %}

{% block content %}

<h2>Gradebook</h2>

<table class="table table-striped table-hover shadow-sm">
    <thead>
        <tr>
            <th>Student</th>
            <th>Email</th>
            <th>Course</th>
            <th>Code</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for g in gradebook %}
        <tr>
            <td>{{ g.student_name }}</td>
            <td>{{ g.student_email }}</td>
            <td>{{ g.course_name }}</td>
            <td>{{ g.course_code }}</td>
            <td>{{ g.grade }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}